In [21]:
# Import libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [23]:
# Pre-processing the data.

hotels=pd.read_csv("C:\\Users\\ADMIN\\Desktop\\Desktop_2023\\HiCouncelor\\zomato.csv")

In [24]:
hotels

,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56247,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,080 40301477,Whitefield,Bar,NaN,Continental,"1,500",Pubs and bars
56248,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,Whitefield,Bar,NaN,Finger Food,600,Pubs and bars
56249,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,Whitefield,Bar,NaN,Finger Food,"2,000",Pubs and bars
56250,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500",Pubs and bars

In [25]:
# Removing Unwanted Columns

hotels=read_data_from_csv()
hotels.drop(['address','phone'],axis=1,inplace=True)

In [26]:
# Renaming and Selecting Columns in a Dataset

hotels = remove_unwanted_columns()
hotels.rename(columns = {'rate' :'rating','approx_cost(for two people)' : 'approx_cost','listed_in(type)' :'type'},inplace=True)

In [27]:
# Dealing with Null Values in a Dataset
# delete null values of name column as name is the primary identifier of the dataset
#    replace null values of online order with NA
#    replace null values of book_table with NA
#    replace null values of rating to zero as it is a numerical datatype
#    replace null values of votes to zero as it is a numerical datatype
#    replace null values of location to NA
#    replace null values of rest_type to NA
#    replace null values of dishliked to NA
#    replace null values of cuisines to NA
#    replace null values of approxcost to 0 as it is a numerical value
#    replace null values of type to NA


hotels=rename_columns()
hotels.isna().sum()
hotels.dropna(subset=['name'],axis=0,inplace=True)
hotels['online_order'].fillna('NA',inplace=True)
hotels['book_table'].fillna('NA',inplace=True)
hotels['rating'].fillna(0,inplace=True)
hotels['votes'].fillna(0,inplace=True)
hotels['location'].fillna('NA',inplace=True)
hotels['rest_type'].fillna('NA',inplace=True)
hotels['dish_liked'].fillna('NA',inplace=True)
hotels['cuisines'].fillna('NA',inplace=True)
hotels['approx_cost'].fillna(0,inplace=True)
hotels['type'].fillna('NA',inplace=True)
hotels.isna().sum()

name            0
online_order    0
book_table      0
rating          0
votes           0
location        0
rest_type       0
dish_liked      0
cuisines        0
approx_cost     0
type            0
dtype: int64

In [28]:
# Identifying Duplicate Data in a Dataset
# drop all the duplicate values keeping the first value as it is


hotels=null_value_check()
hotels.duplicated().sum()
hotels.drop_duplicates(inplace=True)

In [29]:
# Text Cleaning
# removing irrelevant text from all the columns


    
hotels=find_duplicates()
hotels=hotels[hotels['name'].str.contains('RATED|Rated')==False]

hotels=hotels[hotels['online_order'].str.contains('RATED|Rated')==False]

hotels=hotels[hotels['book_table'].str.contains('RATED|Rated')==False]

hotels=hotels[hotels ['rating'].str.contains('RATED|Rated')==False]

hotels=hotels[hotels['votes'].str.contains('RATED|Rated')==False]

hotels=hotels[hotels['location'].str.contains ('RATED|Rated')==False]

hotels=hotels[hotels['rest_type'].str.contains('RATED|Rated')==False]
 
hotels=hotels[hotels['dish_liked'].str.contains ('RATED|Rated')==False]

hotels=hotels[hotels ['cuisines'].str.contains('RATED|Rated')==False]

hotels=hotels[hotels['approx_cost'].str.contains('RATED|Rated')==False]

hotels=hotels[hotels['type'].str.contains('RATED|Rated')==False]

In [30]:
# Unique Value Check and Irrelevant Value Handling
#check for unique values in each column and handle the irrelevant values


    
hotels=removing_irrelevant_text()
hotels['online_order'] = hotels['online_order'].apply(lambda x: 'No' if x not in ['Yes', 'No'] else x)
hotels=hotels[~hotels['rating'].str.contains('[a-zS]')]
hotels['rating'] = hotels['rating'].replace(['-', 'NEW'], '0')
hotels['rating'] = hotels['rating'].str.replace('/5', '')
def convert_to_int(x):
    if x == '0':
        return 0
    else:
        return x
hotels['rating'] = hotels['rating'].apply(convert_to_int)

In [34]:
# Cleaning and Exporting Zomato Dataset
# remove the unknown character from the dataset and export it to "zomatocleaned.csv"


   
dataframe=check_for_unique_values()
dataframe['name']=dataframe['name'].str.replace('[Ãƒx][^A-Za-z]+','',regex=True)

#remove unknown character from dataset
    
#export cleaned Dataset to newcsv file named "zomatocleaned.csv"
dataframe.to_csv('zomatocleaned.csv', index=True)